<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<a class="navbar-brand" href="#">Riverside Community Church</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right">
			</form>
		</div>
		<!--/.navbar-collapse -->
	</div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Connection Card</h1>
		<p>Please fill out the following form to let us know you were here.</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">

		<!-- Name -->
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputNames" class="col-sm-3 control-label">Name(s):</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="inputNames" placeholder="">
				</div>
			</div>

			<!-- Children Names -->
			<div class="form-group">
				<label for="inputChildrensNames" class="col-sm-3 control-label">Children's Names & Ages:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="inputChildrensNames" placeholder="">
				</div>
			</div>

			<!-- Age Group -->
			<div class="form-group">
				<label for="inputChildrensNames" class="col-sm-3 control-label">Your age group:</label>
				<div class="col-sm-6">
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="under20" value="under20">
            under 20
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="20s" value="20s">
            20s
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="30s" value="30s">
            30s
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="40s" value="40s">
            40s
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="50s" value="50s">
            50s
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="60s" value="60s">
            60s
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsRadios" id="70s" value="70s">
            70s and up
          </label>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="emailAddress" class="col-sm-3 control-label">Email address:</label>
				<div class="col-sm-4">
					<input type="email" class="form-control" id="emailAddress" placeholder="Email">
				</div>
			</div>


			<!-- Address -->
			<div class="form-group">
				<label for="address" class="col-sm-3 control-label">Address:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="address" placeholder="Address">
				</div>
			</div>

			<!-- City -->
			<div class="form-group">
				<label for="city" class="col-sm-3 control-label">City:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="city" placeholder="City">
				</div>
			</div>

			<!-- State -->
			<div class="form-group">
				<label for="state" class="col-sm-3 control-label">State:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="state" placeholder="State">
				</div>
			</div>

			<!-- Zip -->
			<div class="form-group">
				<label for="zip" class="col-sm-3 control-label">Zip:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="zip" placeholder="Zip">
				</div>
			</div>

			<!-- Location / Time -->
			<div class="form-group">
				<label for="locationTime" class="col-sm-3 control-label">Location / Time:</label>
				<div class="col-sm-8">
					<label class="radio-inline">
            <input type="radio" name="optionsLocation" id="9ammills" value="9ammills">
            9am Mills
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsLocation" id="11ammills" value="11ammills">
            11am Mills
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsLocation" id="9amoakmont" value="9amoakmont">
            9am Oakmont
          </label>
					<label class="radio-inline">
            <input type="radio" name="optionsLocation" id="11amoakmont" value="11amoakmont">
            11am Oakmont
          </label>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<hr>

	<footer>
		<p>&copy; 2016 Riverside Community Church</p>
	</footer>
</div>